@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, monospace;
}

body {
  font-family: var(--font-sans);
}

code,
pre {
  font-family: var(--font-mono);
}
